
<!DOCTYPE html>
<html lang="en" class="max-width-d">
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Arshia - Fully Responsive Personal Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Retrina Group" />
    <!--  FavIcon  -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap-icons.css">
    <!-- Malihu Jquery Custom ScrollBar Css -->
    <link rel="stylesheet" href="/static/assets/css/jquery.mCustomScrollbar.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <!-- Magnific Popup Css -->
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
    <!--  Custom Style Css  -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!--  Color Css  -->
    <link rel="stylesheet" href="/static/assets/colors/golden.css"  id="option-color">
  </head>
  <body class="dark-arshia max-width-d">

    <!-- Preloader -->
    <div id="line-loader">
      <div class="middle-line"></div>
    </div>

    <!--   Menu Overlay Mobile -->
    <div class="menu-overlay d-none"></div>

    <!--   Right Side Start  -->
    <div class="right-side d-none d-lg-block">
      <div id="date"></div>
      <div class="social-box">
        <div class="follow-label">
          <span>Follow Me</span>
        </div>
        <div class="social d-none d-lg-block">
          <a href="javascript:void(0);">
            <i class="bi bi-whatsapp"></i>
          </a>
          <a href="javascript:void(0);">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="javascript:void(0);">
            <i class="bi bi-dribbble"></i>
          </a>
        </div>
      </div>
      <div class="next-prev-page">
        <button type="button" class="prev-page bg-base-color hstack">
          <i class="bi bi-chevron-compact-up mx-auto"></i>
        </button>
        <button type="button" class="next-page bg-base-color mt-3 hstack">
          <i class="bi bi-chevron-compact-down mx-auto"></i>
        </button>
      </div>
    </div>
    <!--  Right Side End  -->

    <!--  Left Side Start  -->
    <div class="left-side  nav-close">
      <div class="menu-content-align">
        <div class="left-side-image">
          <img src="/static/assets/img/webdesigner/profile-img.jpg" alt="/">
        </div>
        <h1 class="mt-1">M. Askari</h1>
        <a class="download-cv primary-button d-none d-lg-inline-block" href="/static/assets/cv.pdf" download="cv.pdf">Download CV</a>
        <div class="container d-lg-none d-inline-block">
          <div class="row">
            <div class="col-12 text-center">
              <p class="text-muted mb-0">Shipbuilding Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-align">
        <ul class="list-group menu text-center " id="menu">
          <li class="list-group-item">
            <a href="#hero">
              <i class="bi bi-house"></i>
              <span>home</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#about" class="custom-btn">
              <i class="bi bi-person"></i>
              <span>about</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#resume">
              <i class="bi bi-clipboard-check"></i>
              <span>resume</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#portfolio">
              <i class="bi bi-collection"></i>
              <span>works</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#blog">
              <i class="bi bi-book"></i>
              <span>blog</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#contact">
              <i class="bi bi-geo-alt"></i>
              <span>contact</span>
            </a>
          </li>
        </ul>
        <div class="menu-footer">
          <a class="download-cv primary-button mt-3 mb-4 d-lg-none" href="/static/assets/cv.pdf" download="cv.pdf">Download CV</a>
          <div class="social d-lg-none d-block">
            <a href="javascript:void(0);" class="d-inline-block">
              <i class="bi bi-whatsapp"></i>
            </a>
            <a href="javascript:void(0);" class="d-inline-block mx-4">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="javascript:void(0);" class="d-inline-block">
              <i class="bi bi-dribbble"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--  Left Side End  -->

    <!--  Main Start  -->
    <main id="main" class="main-2">

      <!--  Hero Start  -->
      <section id="hero" class="section hero w-100">
        <!-- <svg class="extend-icon" xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
          <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
        </svg> -->
{#        <img class="extend-icon" src="/static/assets/img/responsive-dark.png" alt="/">#}
        <div class="hero-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center text-lg-start">
                <div class="hero-image d-inline-block d-lg-none">
                  <img src="/static/assets/img/webdesigner/profile-img.jpg" alt="/">
                </div>
                <div class="hero-content mt-4 mx-auto mx-lg-0 text-lg-left mt-lg-none">
                  <p class="base-color">Shipbuilding Engineer</p>
                  <h2><span class="base-color">Mojtaba Askari </span>
                      <p style="font-size: 14px; font-weight: 100" class="mt-4">Researcher in the field of simulating various types of flying boats using computational fluid dynamics. expertise in working with the standards of construction of all kinds of vessels.</p>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-footer d-block d-lg-none">
          <a class="download-cv primary-button mt-3 mb-4 d-lg-none" href="/static/assets/cv.pdf" download="cv.pdf">Download CV</a>
          <div class="social d-lg-none mb-4 d-block">
            <a href="javascript:void(0);" class="d-inline-block">
              <i class="bi bi-whatsapp"></i>
            </a>
            <a href="javascript:void(0);" class="d-inline-block mx-4">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="javascript:void(0);" class="d-inline-block">
              <i class="bi bi-dribbble"></i>
            </a>
          </div>
        </div>
      </section>
      <!--  Hero End  -->

      <!--  About Start  -->
      <section id="about" class="section about">
        <div class="container">
          <!-- Introducce Me -->
          <div class="about-boxes">
            <div class="row">
              <div class="col-lg-5">
                <div class="about-img">
                  <img src="/static/assets/img/webdesigner/about-img.jpg" alt="/">
                  <div class="border-img"></div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="about-description">
                  <h4 class="mb-3">About me</h4>
                  <p class="about-text">I am a researcher in the field of simulating various types of flying boats using computational fluid dynamics. With a history of inspecting Non-Conventional-Ships, I possess expertise in working with the standards of construction of all kinds of vessels. Additionallyو I possess intermediate expertise in vessel construction standards and am passionate about coding with Python for marine engineering. Furthermore, I conduct research in cryptography and blockchain technology.</p>
                </div>
                <!-- Personal Info -->
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled personal-info">
                      <li>Email : <small><a href="mailto:mojinubia@gmail.com" class="__cf_email__ base-color" data-cfemail="">mojinubia@gmail.com</a></small>
                      </li>
                      <li>Institute : <small>ACS</small>
                      </li>
                      <li>City : <small> Shiraz, Iran</small>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-unstyled personal-info">
                      <li>Age : <small>29</small>
                      </li>
                      <li>Degree : <small>Master</small>
                      </li>
                      <li>Field : <small>Shipbuilding engineering</small>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12">
                    <a href="#contact" class="to-contact primary-button mt-2">Contact me</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  Count up  -->
          <div id="count-up" class="count-up text-center box-border">
            <div class="row">
              <!-- Item-01 -->
              <div class="col-6 col-lg-3 my-4 count-item">
                <div class="count-icon">
                  <i class="bi bi-columns-gap"></i>
                </div>
                <span class="timer count-number" data-from="0" data-to="24" data-speed="5000">0</span>
                <p class="mb-0">Ship plans</p>
              </div>
              <!-- Item-02 -->
              <div class="col-6 col-lg-3 my-4 count-item">
                <div class="count-icon">
                  <i class="bi bi-award"></i>
                </div>
                <span class="timer count-number" data-from="0" data-to="319" data-speed="5000">0</span>
                <p class="mb-0">Ship inspection</p>
              </div>
              <!-- Item-03 -->
              <div class="col-6 col-lg-3 my-4 count-item">
                <div class="count-icon">
                  <i class="bi bi-laptop"></i>
                </div>
                <span class="timer count-number" data-from="0" data-to="52" data-speed="5000">0</span>
                <p class="mb-0">Programming</p>
              </div>
              <!-- Item-04 -->
              <div class="col-6 col-lg-3 my-4 count-item">
                <div class="count-icon">
                  <i class="bi bi-journal-check"></i>
                </div>
                <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
                <p class="mb-0">Project Done</p>
              </div>
            </div>
          </div>
          <!--  Skills  -->
          <div class="skills">
            <div class="row pt-5">
              <div class="col-lg-7">
                <div class="skill-description">
                  <h3 class="mb-3">Professional Background and Expertise</h3>
                  <p class="mb-0">I was doing everything in my power to provide me with all the experiences to provide cost-effective and high quality products to satisfy my customers all over the world</p>
                </div>
              </div>
              <div class="col-lg-5">
                <ul class="knowledge-item">
                  <li>Ansys CFX & Solidworks</li>
                  <li>Sheet Metal, Mold Tools</li>
                  <li>Python Programming</li>
                  <li>Decentralized networks & Blockchain</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  Skillbar  -->
          <div class="row mt-5 skills">
            <div class="col-lg-6">
              <h3 class="subtitle">Special Skills</h3>
              <div id="skills">
                <!-- Item 01 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Ansys CFX</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="85" data-speed="4000">85</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                <!-- Item 02 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Solidworks</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="76" data-speed="4000">76</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="76%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                <!-- Item 03 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">CFD Simulations</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="59" data-speed="4000">59</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="59%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>

                  <!-- Item 04 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Mathematica</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="78" data-speed="4000">78</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="78%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 ms-auto mt-5 mt-lg-0">
              <h3 class="subtitle">Language</h3>
              <div class="language-bar">
                <!-- Item 01 -->
                <div class="language-skill">
                  <h6 class="mb-0">foreign: English <span> Intermediate</span>
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-half"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 02 -->
                <div class="language-skill">
                  <h6 class="mb-0">Programming: Python <span> Intermediate</span>
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 03 -->
                <div class="language-skill">
                  <h6 class="mb-0">Programming: JS <span>Basic</span>
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 04 -->
                <div class="language-skill">
                  <h6 class="mb-0">Programming: Solidity <span>Basic</span>
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-half"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--  Client  -->
          <div class="testimonial mt-5">
            <div class="owl-carousel">
              <!-- Item 01 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">Thesis: Hydrodynamic Performance Enhancement through Flying Boat Underbody Study</p>
                <p class="testimonial-comment" style="font-size: small">"The study of planing hulls to improve hydrodynamic performance : In this project, the effect of changing the step depression angle on the amount of drag force and trim of a flying boat was studied with finite volume numerical method."</p>
                  <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="/static/assets/img/client-01.png" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Malik Ashtar University</p>
                    <small class="testimonial-jub">2018 - 2020</small>
                  </div>
                </div>
              </div>
              <!-- Item 02 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">Bachelor Project: Making mini hovercraft</p>
                <p class="testimonial-comment" style="font-size: small">"A mini hovercraft with higher maneuverability and more creative design than other previous models was designed and built."</p>
                <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="/static/assets/img/client-02.png" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Chabahar Maritime University </p>
                    <small class="testimonial-jub">2013- 2014</small>
                  </div>
                </div>
              </div>
              <!-- Item 03 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">Intelligentization of vehicle violations</p>
                <p class="testimonial-comment" style="font-size: small">"With the cooperation of Transport and Traffic Organization of Shiraz Municipality, the intelligentization plan for vehicle violations was carried out"</p>
                <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="/static/assets/img/client-03.png" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Transport and Traffic Organization</p>
                    <small class="testimonial-jub">2021 - 2023</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  About End  -->

      <!--  Resume Start  -->
      <section id="resume" class="section">
        <div class="container">
          <!-- Servises -->
          <div class="services  mb-6">
            <div class="boxes">
              <h3 class="subtitle">Services</h3>
              <div class="row vertical-line">
                <!-- Item 01 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-arrow-up-left-circle services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Hydrodynamic Performance Optimization</h6>
                      <p class="services-description mb-0">Utilize advanced computational techniques to optimize marine vessel hydrodynamics, enhancing performance and fuel efficiency across diverse operating conditions.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 02 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-laptop services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Ansys CFX Analysis</h6>
                      <p class="services-description mb-0">Utilize for advanced CFD simulations, optimizing fluid flow in shipbuilding and marine projects, enhancing performance, and solving complex engineering challenges.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 03 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-award services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Propulsion System Design</h6>
                      <p class="services-description mb-0">Design and optimize marine propulsion systems, including propellers and thrusters, to enhance vessel performance, efficiency, and maneuverability.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 04 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-card-text services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Solidworks</h6>
                      <p class="services-description mb-0">for efficient 3D modeling and design of ship components, enabling precise visualization, prototyping, and validation of complex marine systems.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 05 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-layout-wtf services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Sheet Metal, Mold Tools</h6>
                      <p class="services-description mb-0">Utilize sheet metal design and mold tools expertise to develop durable and manufacturable marine components, ensuring high-quality ship structures.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 06 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-water services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Fluid-Structure Interaction (FSI) Analysis</h6>
                      <p class="services-description mb-0">Conduct fluid-structure interaction (FSI) analysis to study fluid-structure interaction in marine applications, identifying flow-induced vibrations and structural instabilities.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  Resume  -->
          <div class="resume">
            <!--  TimeLine Education  -->
            <div class="boxes my-6">
              <h3 class="subtitle">Education & Experiences</h3>
              <div class="row vertical-line">
                <!--  Item 01  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2016 - 2020</p>
                      <h6 class="timeline-title">Malek Ashtar University of Technology</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Master of Shipbuilding Engineering - structure orientation</p>
                    </div>
                  </div>
                </div>
                <!--  Item 02  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2012 - 2016</p>
                      <h6 class="timeline-title">Chabahar Maritime University</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Bachelor of Shipbuilding Engineering</p>
                    </div>
                  </div>
                </div>
                <!--  Item 03  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2024</p>
                      <h6 class="timeline-title">Asian Classification Society (ACS)</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Inspector of non-conventional and conventional ships</p>
                    </div>
                  </div>
                </div>
                <!--  Item 04  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2021 - 2023</p>
                      <h6 class="timeline-title">Shiraz Traffic Police</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Monitoring and investigation of urban violations</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  TimeLine Experience  -->
{#            <div class="boxes mt-6 mb-3">#}
{#              <h3 class="subtitle">Experience</h3>#}
{#              <div class="row vertical-line">#}
{#                <!--   Item 01   -->#}
{#                <div class="col-md-6">#}
{#                  <div class="timeline-box">#}
{#                    <div class="time-line-header">#}
{#                      <p class="timeline-year">2017 - 2018</p>#}
{#                      <h6 class="timeline-title">Team Leader</h6>#}
{#                    </div>#}
{#                    <div class="timeline-content">#}
{#                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <!--   Item 02   -->#}
{#                <div class="col-md-6">#}
{#                  <div class="timeline-box">#}
{#                    <div class="time-line-header">#}
{#                      <p class="timeline-year">2019 - 2021</p>#}
{#                      <h6 class="timeline-title">Business Photographer</h6>#}
{#                    </div>#}
{#                    <div class="timeline-content">#}
{#                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <!--   Item 03   -->#}
{#                <div class="col-md-6">#}
{#                  <div class="timeline-box">#}
{#                    <div class="time-line-header">#}
{#                      <p class="timeline-year">2019 - 2021</p>#}
{#                      <h6 class="timeline-title">Marketing Managment</h6>#}
{#                    </div>#}
{#                    <div class="timeline-content">#}
{#                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <!--   Item 04   -->#}
{#                <div class="col-md-6">#}
{#                  <div class="timeline-box">#}
{#                    <div class="time-line-header">#}
{#                      <p class="timeline-year">2021 - 2021</p>#}
{#                      <h6 class="timeline-title">Advetising</h6>#}
{#                    </div>#}
{#                    <div class="timeline-content">#}
{#                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare.</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>
        </div>
      </section>
      <!--  Resume End  -->

      <!--  Portfolio Start  -->
    <section id="portfolio" class="section portfolio">
        <div class="container">
            <div class="heading-meta-container">
                <h2 class="heading-title">Portfolio</h2>
                <h6 class="description">See My Works & Projects</h6>
            </div>
            <div class="row portfolio-items border-line-v">
                <!-- Portfolio Items -->
                {% for item in portfolio_items %}
                    <div class="col-md-6 col-lg-4 portfolio-item">
                        <div class="portfolio-box">
                            <div class="portfolio-image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                <div class="portfolio-icon">
                                     <i class="bi bi-bookmark-check"></i>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <h6 class="blog-header">{{ item.title }}</h6>
                                <p class="mb-0">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{#      <section id="portfolio" class="section portfolio">#}
{#        <div class="container">#}
{#          <div class="heading-meta-container">#}
{#            <h2 class="heading-title">Portfolio</h2>#}
{#            <h6 class="description">See My Ausome Work</h6>#}
{#          </div>#}
{#          <div class="row">#}
{#            <!--   Portfolio Filters   -->#}
{#            <ul id="portfolio-filter" class="list-inline col-lg-12 portfolio-filter text-center">#}
{#              <li class="list-inline-item">#}
{#                <a href="javascript:void(0)" data-filter="*" class="active">All</a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="javascript:void(0)" data-filter=".webdesign">Web Design</a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="javascript:void(0)" data-filter=".mobiledesign">Mobile Design</a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="javascript:void(0)" data-filter=".sound">Sound</a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="javascript:void(0)" data-filter=".graphic">Graphic</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#          <div class="portfolio-items border-line-v row">#}
{#            <!-- Item 01 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item sound">#}
{#              <div class="portfolio-box">#}
{#                <div class="portfolio-image">#}
{#                  <img src="/static/assets/img/webdesigner/portfolio-item1.jpg" alt="/">#}
{#                  <div class="portfolio-icon">#}
{#                    <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221650664&#038;color=%23ff5500&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;show_teaser=true&#038;visual=true" class="portfolio-magnific mfp-iframe">#}
{#                      <i class="bi bi-music-note-beamed"></i>#}
{#                    </a>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="portfolio-content">#}
{#                  <h6 class="blog-header">Tak photo on the waves</h6>#}
{#                  <p class="mb-0">image</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Item 02 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item sound">#}
{#              <div class="portfolio-box">#}
{#                <div class="portfolio-image">#}
{#                  <img src="/static/assets/img/webdesigner/portfolio-item2.jpg" alt="/">#}
{#                  <div class="portfolio-icon">#}
{#                    <a href="https://player.vimeo.com/video/158284739" class="portfolio-magnific mfp-iframe">#}
{#                      <i class="bi bi-camera-video"></i>#}
{#                    </a>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="portfolio-content">#}
{#                  <h6 class="blog-header">Tak photo on the waves</h6>#}
{#                  <p class="mb-0">image</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Item 03 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item sound">#}
{#              <div class="portfolio-box">#}
{#                <div class="portfolio-image">#}
{#                  <img src="/static/assets/img/webdesigner/portfolio-item3.jpg" alt="/">#}
{#                  <div class="portfolio-icon">#}
{#                    <a href="portfolio-01-dark.html" class="ajax-page-load">#}
{#                      <i class="bi bi-file-earmark-text"></i>#}
{#                    </a>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="portfolio-content">#}
{#                  <h6 class="blog-header">Tak photo on the waves</h6>#}
{#                  <p class="mb-0">image</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Item 04 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign webdesign">#}
{#              <div class="portfolio-image">#}
{#                <img src="/static/assets/img/webdesigner/portfolio-item4.jpg" alt="/">#}
{#                <div class="portfolio-icon">#}
{#                  <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221650664&#038;color=%23ff5500&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;show_teaser=true&#038;visual=true" class="portfolio-magnific mfp-iframe">#}
{#                    <i class="bi bi-music-note-beamed"></i>#}
{#                  </a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="portfolio-content">#}
{#                <h6 class="blog-header">Detailed Project 2</h6>#}
{#                <p class="mb-0">image</p>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Item 05 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign sound">#}
{#              <div class="portfolio-image">#}
{#                <img src="/static/assets/img/webdesigner/portfolio-item5.jpg" alt="/">#}
{#                <div class="portfolio-icon">#}
{#                  <a href="https://player.vimeo.com/video/158284739" class="portfolio-magnific mfp-iframe">#}
{#                    <i class="bi bi-camera-video"></i>#}
{#                  </a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="portfolio-content">#}
{#                <h6 class="blog-header">Detailed Project 2</h6>#}
{#                <p class="mb-0">image</p>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Item 06 -->#}
{#            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign">#}
{#              <div class="portfolio-image">#}
{#                <img src="/static/assets/img/webdesigner/portfolio-item6.jpg" alt="/">#}
{#                <div class="portfolio-icon">#}
{#                  <a href="portfolio-01-dark.html" class="ajax-page-load">#}
{#                    <i class="bi bi-file-earmark-text"></i>#}
{#                  </a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="portfolio-content">#}
{#                <h6 class="blog-header">Detailed Project 2</h6>#}
{#                <p class="mb-0">image</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
      <!--  Portfolio End  -->

      <!--  Blog Start  -->
      <section id="blog" class="section blog">
        <div class="container">
          <h3 class="subtitle">Latest News</h3>
          <div class="boxes">
            <div class="row vertical-line">
              {% for post in posts%}
              <div class="col-md-6">
                <a class="blog-box">
                  <div class="blog-image">
                    <img src="{{ post.image.url }}" alt="/">
                    <div class="blog-icon">
                      <i class="bi bi-journal-text"></i>
                    </div>
                  </div>
                  <div class="blog-post-content">
                    <div class="blog-dates">
                      <span>{{ post.created|date:"M d, Y" }}</span>
                    </div>
                    <h6 class="blog-header">{{ post.title }}</h6>
                    <p class="mb-0">{{ post.description }}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <!--  Blog End  -->

      <!-- Contact Start -->
      <section id="contact" class="section contact w-100">
        <div class="container">
          <h3 class="subtitle">Get in Touch</h3>
          <!-- Map -->
{#          <div class="row mt-5">#}
{#            <div class="col-lg-12"><div id="my-map" data-location-lat="43.053454" data-location-lng="-76.144508" data-location-icon="/static/assets/img/location-map.png"></div></div>#}
{#          </div>#}
          <div class="row mt-4">
            <!-- Address Info -->
            <div class="col-12 col-xl-5">
              <div class="row">
                <!--  Item 01 -->
                <div class="col-lg-12">
                  <div class="info-box">
                    <div class="item-icon">
                      <i class="bi bi-envelope-open"></i>
                    </div>
                    <div class="info-text">
                      <h5>Mail Me</h5>
                      <small><a href="mailto:mojinubia@gmail.com" class="__cf_email__ base-color" data-cfemail="ddb8b0bcb4b19db8a5bcb0adb1b8f3beb2b0">mojinubia@gmail.com</a></small>
                    </div>
                  </div>
                </div>
{#                <!--  Item 02 -->#}
{#                <div class="col-lg-12">#}
{#                  <div class="info-box">#}
{#                    <div class="item-icon">#}
{#                      <i class="bi bi-telephone"></i>#}
{#                    </div>#}
{#                    <div class="info-text">#}
{#                      <h5>Call Us On</h5>#}
{#                      <small>+123 456 7890</small>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <!--  Item 03 -->#}
{#                <div class="col-lg-12">#}
{#                  <div class="info-box">#}
{#                    <div class="item-icon">#}
{#                      <i class="bi bi-map"></i>#}
{#                    </div>#}
{#                    <div class="info-text">#}
{#                      <h5>Visit office</h5>#}
{#                      <small>24 Street, New York, United State.</small>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
              </div>
            </div>
            <!-- Contact Form -->
            <div class="col-12 col-xl-7">
              <div class="contact-box">
                <div class="contact-form">
                  <form id="contactForm" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12 form-item">
                        <div class="form-group">
                          <input name="name" id="name" type="text" class="form-control" placeholder="Complate Name*" required>
                        </div>
                      </div>
                      <div class="col-lg-12 form-item">
                        <div class="form-group">
                          <input name="email" id="email" type="email" class="form-control" placeholder="Email Address*" required>
                        </div>
                      </div>
                      <div class="col-lg-12 form-item">
                        <div class="form-group">
                          <input name="subject" id="subject" type="tel" class="form-control" placeholder="Subject*" required>
                        </div>
                      </div>
                      <div class="col-12 form-item">
                        <div class="form-group">
                          <textarea name="message" id="comments" rows="3" class="form-control textarea" placeholder="Your message..."></textarea>
                        </div>
                      </div>
                      <div class="col-sm-12 text-left">
                        <div class="pill-btn mt-4 mb-3">
                          <button type="submit" class="secondary-button"> Send Message </button>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Contact End  -->

    </main>
    <!--  Main End  -->

    <!--  Mobile Next and Prev Button Start -->
    <div class="next-prev-page d-block d-lg-none">
      <button type="button" class="prev-page bg-base-color hstack">
        <i class="bi bi-chevron-compact-left mx-auto"></i>
      </button>
      <button type="button" class="next-page bg-base-color mt-1 mt-lg-3 hstack">
        <i class="bi bi-chevron-compact-right mx-auto"></i>
      </button>
    </div>
    <!--  Mobile Next and Prev Button End -->

    <!--  Navbar Button Mobile Start -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--  Navbar Button Mobile End -->

    <!--  Background Shapes Start  -->
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!--  Background Shapes End  -->

    <!--  Color Pallet  -->
    <div id="color-switcher" class="color-switcher">
      <div class="text-center color-pallet hide">
        <h6 class="theme-skin-title">Light &amp; Dark</h6>
        <ul class="color-scheme list-inline">
            <li class="list-inline-item">
                <a href="javascript:void(0)" class="light-scheme"><i class="bi bi-brightness-high"></i> Light</a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0)" class="dark-scheme active"><i class="bi bi-moon"></i> Dark</a>
            </li>
          </ul>
          <h6 class="text-center mt-3 text-dark">Select your color</h6>
          <ul class="pattern">
              <li>
                  <a class="color1" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color2" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color3" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color4" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color5" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color6" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color7" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color8" href="javascript:void(0)"></a>
              </li>
              <li>
                  <a class="color9" href="javascript:void(0)"></a>
              </li>
          </ul>
      </div>
      <div class="pallet-button hide">
          <a href="javascript:void(0)" class="cp-toggle"><i class="bi bi-gear"></i></a>
      </div>
    </div>

    <!-- Mouase Magic Cursor Start -->
    <div class="m-magic-cursor mmc-outer"></div>
	  <div class="m-magic-cursor mmc-inner"></div>
    <!-- Mouase Magic Cursor End -->

    <!--  JavaScripts  -->
    <!--  Jquery 3.4.1  -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/assets/js/jquery-3.4.1.min.js"></script>
    <!--  Bootstrap Js  -->
    <script src="/static/assets/js/bootstrap.js"></script>
    <!--  Malihu ScrollBar Js  -->
    <script src="/static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!--  CountTo Js  -->
    <script src="/static/assets/js/jquery.countTo.js"></script>
    <!--  Swiper Js  -->
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <!--  Isotope Js  -->
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>
    <!--  Magnific Popup Js  -->
    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Map Js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRemITiP7JRWpZwLhVt-T2x5MeUFE2KWs"></script>
    <!--  Arshia Js  -->
    <script src="/static/assets/js/arshia.js"></script>
  </body>
</html>